body {
    background-color: #f7fdf3;
}

header {
    padding-left: 30px;
    padding-top: 15px;
}

.conteiner {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.painel-esquerda {
    padding-top: 20px;
    flex: 3;
}

.painel-texto {
    width: 90%;
    margin: auto;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 30px;
    height: 300px;
    width: 100%;
    background-color: transparent;
}

.atencao {
    color: white;
    background-color: rgb(245, 93, 5);
    font-weight: bold;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    display: block;
    text-align: center;
    float: left;
    margin-right: 4px;
}

.botoes {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    gap: 2.5%;
}

.botoes button.criptografar:hover {
    filter: brightness(110%)
}

.botoes button.criptografar:active {
    box-shadow: 2px 2px rgb(141, 141, 141);
}

.botoes button.descriptografar:hover {
    filter: brightness(90%);
}

.botoes button.descriptografar:active {
    box-shadow: 2px 2px lightgray;
}

button {
    flex: 1;
    cursor: pointer;
    font-size: 14px;
    border-radius: 12px;
    font-weight: bold;
    border: solid 1px black;
    background-color: white;
    color: #529f77;
}

.criptografar,
.descriptografar {
    padding: 16px 0;
}

.criptografar {
    background-color: #529f77;
    color: white;
}

.descriptografar {
    background-color: white;
    color: #529f77;
}

.painel-direita {
    text-align: center;
    flex: 1;
    border-radius: 10px;
    background-color: #b9d1c58a;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

figure img {
    width: 100%;
}

figure {
    width: 100%;
    padding: 0;
    margin: 0;
}

figure figcaption {
    text-align: center;
    font-size: 9px;
}

footer {
    clear: both;
    font-size: 12pt;
    padding-top: 30px;
}

.texto-centro {
    text-align: center;
}

.logos {
    padding: 8px 0;
}

.redes {
    width: 96px;
    margin: 0 auto;
    font-size: 0;
}

.redes img {
    width: 32px;
}

.texto-criptografia {
    height: 100%;
}

.conteiner-criptografia {
    display: flex;
    align-items: end;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.botoes-secundarios {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.botoes-secundarios button {
    padding: 8px 0;
}