:root {
  --backgroud-color: #e5e5e5;
  --text-color: #495057;
  --primary-color: #0a3871;
  --secondary-color: #ffffff;
  --alert-color: #343a40;
  --shadow-color: lightgrey;
  --backgroud-button-color: #d8dfe8;
  --cripto-hover-btn-color: #bbbbbbd5;
  --backgroud-scroll: #888;
  --backgroud-scroll-hover: #555;
  --backgroud-scrollbar-track: #f1f1f1;
}

.dark-mode {
  --backgroud-color: #000000;
  --text-color: #ffffff;
  --primary-color: #93257e;
  --secondary-color: #f1d0eb;
  --alert-color: #ff0000ed;
  --shadow-color: #c1a4bb;
  --backgroud-button-color: #e4c4dd;
  --cripto-hover-btn-color: #bbbbbbd5;
  --backgroud-scroll: #888;
  --backgroud-scroll-hover: #555;
  --backgroud-scrollbar-track: #f1f1f1;
}

body {
  background-color: var(--backgroud-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 6em 0;
}

aside {
  margin: 0 auto;
}

aside h1 {
  font-family: bold;
  margin: 0;
  font-size: 3rem;
  color: var(--primary-color);
  text-shadow: var(--secondary-color) -2px 1px 1px;
}

.container {
  width: 70em;
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.container .left-panel {
  flex: 3;
}

.container > .left-panel > .text-panel {
  width: 90%;
  height: 18.75em;
  margin: 8.5em 0.5em;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  line-height: 150%;
  width: 100%;
  background-color: transparent;
  color: var(--primary-color);
}

.left-textarea {
  font-size: 2em;
  height: 12em;
}

.rigth-textarea {
  font-size: 1.5em;
  height: 20em;
  color: var(--alert-color);
}

::placeholder {
  color: var(--primary-color);
  /* opacity: 0.6; */
}

.attention-text {
  color: var(--text-color);
  padding: 1.0625em 0.1875em;
  font-size: 0.75em;
  line-height: 1em;
}

.attention {
  color: var(--secondary-color);
  background-color: var(--alert-color);
  font-weight: bold;
  height: 1em;
  line-height: 1em;
  width: 1.125em;
  border-radius: 9px;
  display: block;
  text-align: center;
  float: left;
  margin-right: 0.4375em;
}

.buttons {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  gap: 2.5%;
}

.buttons button.encrypt:hover {
  filter: brightness(110%);
}

.buttons button.encrypt:active {
  box-shadow: 2px 2px var(--cripto-hover-btn-color);
}

.buttons button.decrypt:hover {
  filter: brightness(90%);
  background: var(--background-color);
}

.buttons button.decrypt:active {
  box-shadow: 2px 2px var(--background-color);
}

button {
  flex: 1;
  cursor: pointer;
  font-size: 14px;
  border-radius: 24px;
  font-weight: bold;
  border: solid 1px var(--primary-color);
  background-color: var(--secondary-color);
  /* color: var(--cor-button-texto); */
}

.encrypt,
.decrypt {
  padding: 16px 0;
}

.encrypt {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.decrypt {
  background-color: var(--backgroud-button-color);
  color: var(--primary-color);
}

.right-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex: 1;
  border-radius: 2em;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 2px 2px var(--shadow-color);
  overflow: hidden;
  min-width: 18em;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block;
}

figure {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

figure img {
  width: 100%;
}

figure figcaption {
  text-align: center;
  font-size: 9px;
}

.encryption-text {
  height: 100%;
}

.conteiner-criptografia {
  display: flex;
  align-items: end;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.secondary-buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 10px;
}

.secondary-buttons button {
  padding: 8px 0;
}

.no-text {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 90%;
  margin: 0 auto;
}

.right-panel h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 120%;
}

.no-text p {
  line-height: 150%;
}

footer {
  clear: both;
  font-size: 12pt;
  padding-top: 30px;
  color: var(--text-color);
}

.center-text {
  text-align: center;
}

.logos {
  padding: 8px 0;
}

.networks {
  width: 96px;
  margin: 0 auto;
  font-size: 0;
}

.networks img {
  width: 32px;
}

a {
  text-decoration: none;
}

/* responsividade */

@media screen and (max-width: 768px) {
  main {
    padding: 3em 0em 1em 1.2em;
    flex-direction: column;
  }

  aside {
    margin: 0;
  }

  .container {
    flex-direction: column;
    width: 100%;
    margin-top: unset;
    gap: 4em;
  }

  .container > .left-panel > .text-panel {
    margin: 4.5em 0em;
    width: 100%;
  }

  .container > .left-panel > .text-panel #textoCriptografar {
    max-width: 97%;
    max-height: 9em;
  }

  .text-panel .buttons {
    max-width: 96%;
  }

  .light-panel-image {
    display: none;
  }
  .right-panel {
    margin-right: 1em;
    min-width: unset;
    min-height: 10em;
  }

  .rigth-textarea {
    height: unset;
  }

  textarea {
    font-size: 16px;
    overflow: auto;
  }

  /* Scrollbar customization for WebKit (Chrome, Safari) */
  textarea::-webkit-scrollbar {
    width: 8px;
  }

  textarea::-webkit-scrollbar-thumb {
    background-color: var(--backgroud-scroll);
    border-radius: 4px;
  }

  textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--backgroud-scroll-hover);
  }

  textarea::-webkit-scrollbar-track {
    background: var(--backgroud-scrollbar-track);
  }

  /* Scrollbar customization for Firefox */

  textarea {
    scrollbar-width: thin;
    scrollbar-color: var(--backgroud-scroll-hover) var(--backgroud-scrollbar-track);
  }

  .conteiner-criptografia {
    align-items: flex-start;
  }

  .alert-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .no-text {
    width: 100%;
    padding: 2em 0;
    justify-content: center;
  }

  .right-panel h3 {
    font-size: 1.2em;
  }

  .right-panel p {
    font-size: 0.9em;
  }

  footer .center-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .buttons,
  .botoes-secundarios {
    gap: 18px;
    flex-direction: column;
  }

  .encrypt,
  .decrypt {
    padding: 18px 0;
  }
}
